<p id="notice"><%= notice %></p>

<div class="container-fluid main-content">

    <% @days.each do |time, day| %>
    <div class="grid">
      <div class="row">
        <div class="col-md-12">
          <h1><%= time.strftime('%A') %></h1><p class="product-count"><%= day.count %> Products</p>
        </div>
      </div>
      <% day.each do |link| %>
      <div class="item">

          <div class="hover-info">

          <%= link_to like_link_path(link), method: :put do %>
            <div class="hover-score">
              <p class="hover-actual-score"><%= link.get_upvotes.size %></p>
              <p class="hover-plus-score">+</p>
            </div>
          <% end %>

          <a target='_blank' href="<%= link.url %>">
            <div class="hover-basket">
              <p class="hover-cart"><i class="fa fa-shopping-cart fa-lg"></i></p>
            </div>

            <div class="hover-avatar">
              <img class="img-responsive" src="<%= link.user.avatar %>"/>
            </div>
          </a>

          </div>

          <img class="link-image" src="<%= link.image %>"/>
          
      <% if link.is_owner? current_user %>

      <% else %>
          <div class="btn-group">
                <a class="btn btn-default btn-sm" href="<%= link.url %>">Visit Link</a>
                <%= link_to like_link_path(link), method: :put, class: "btn btn-default btn-sm" do %>
                  <span class="glyphicon glyphicon-chevron-up"></span>
                  Upvote
                  <%= link.get_upvotes.size %>
                <% end %>
                <%= link_to dislike_link_path(link), method: :put, class: "btn btn-default btn-sm" do %>
                  <span class="glyphicon glyphicon-chevron-down">
                  Downvote
                  <%= link.get_downvotes.size %>
                <% end %>
              </div>
          </div>
      <% end %>
      </div>

      <% end %>
      </div> 
    <% end %>

</div>
<br>


<script>
  $(".grid").each(function() {
    $(this).gridalicious({
      width: 260,
      animate: true,
      gutter: 20
    });
  });

</script>
