<p id="notice"><%= notice %></p>

<% if user_signed_in? %>
<% else %>
  <div class="container header">
    <div class="row">
      <div class="col-md-9 text-left">
        <h1>Over <%= @links.count %> products picked by us - for everyone.</br>Our community is certainly a fashionable bunch.</h1>
        <p>Request an invite for free and join our great community.</p>
      </div>
      <div class="col-md-3">
        <a class="btn btn-request-invite">Request Invite →</a>
      </div>
    </div>
  </div>
<% end %>

<div class="container-fluid main-content">



  <div class="grid">
  <% @links.each do |link| %>

      <div class="item">


          <div class="hover-info">

          <%= link_to like_link_path(link), method: :put do %>
            <div class="hover-score">
              <p class="hover-actual-score"><%= link.get_upvotes.size %></p>
              <p class="hover-plus-score">+</p>
            </div>
          <% end %>

          <a target='_blank' href="<%= link.url %>">
            <div class="hover-basket">
              <p class="hover-cart"><i class="fa fa-shopping-cart fa-lg"></i></p>
            </div>

            <div class="hover-avatar">
              <img class="img-responsive" src="<%= link.user.avatar %>"/>
            </div>
          </a>

          </div>
          <%= link_to link_path(link) do %>
            <img class="link-image" src="<%= link.image %>"/>
          <% end %>
          
      <% if link.is_owner? current_user %>

      <% else %>
          <div class="btn-group">
                <a class="btn btn-default btn-sm" href="<%= link.url %>">Visit Link</a>
                <%= link_to like_link_path(link), method: :put, class: "btn btn-default btn-sm" do %>
                  <span class="glyphicon glyphicon-chevron-up"></span>
                  Upvote
                  <%= link.get_upvotes.size %>
                <% end %>
                <%= link_to dislike_link_path(link), method: :put, class: "btn btn-default btn-sm" do %>
                  <span class="glyphicon glyphicon-chevron-down">
                  Downvote
                  <%= link.get_downvotes.size %>
                <% end %>
              </div>
          </div>
      <% end %>

      
  <% end %>

  </div>
</div>
<br>


<script>
    $('.grid').gridalicious({
      width: 320,
      animate: true,
      gutter: 20
    });

</script>
