<div class="container inpost">
		<div class="row">
			<div class="col-md-8 inpost-background">

			<div class="row">
				<div class="col-md-12 inpost-title">
					<h2><%= @link.title %></h2>
					<a class="source" href="<%= @link.provider_url %>"><%= @link.provider_name %></a>
				</div>
			</div>

				<div class="row">
					<div class="col-md-12 image-wrapper">
						<img class="inpost-image" src="<%= @link.image %>"/>
					</div>
				</div>

				<div class="row">
					<div class="col-md-12">	
						<p><%= @link.description %></p>
						<p>tag, tag, tag, tag, tag</p>
					</div>
				</div>


			</div>



			<div class="col-md-4 inpost-sidebar">
				<div class="row">
					<div class="col-md-4">
						<img src="<%= @link.user.avatar %>"/>
					</div>
					<div class="col-md-8">
						<h4><%= @link.user.username %></h4>
					</div>
				</div>
			</div>
		</div>
	</div>